<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>StudyHUB: {% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">StudyHUB</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                {% if session.get('user_id') %}
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link" href="/subjects">Subjects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tasks">Tasks</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Sessions
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/new-session">Start New Session</a></li>
                            <li><a class="dropdown-item" href="/history">History & Stats</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="d-flex me-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div class="d-flex align-items-center ms-auto">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-danger fw-bold btn btn-outline-secondary" href="/index">Switch
                                User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger fw-bold btn btn-outline-danger" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>

                {% else %}
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">StudyHUB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <main class="container py-5 text-center">
        {% block main %}{% endblock %}
    </main>

</body>

</html>