{% extends "base.html" %}

{% block title %}HomePage{% endblock %}

{% block main %}
{% if new_user == 'true' %}
<div class="hero-card" id="new-user-message">
    <h1 class="hero-title">
        Your Learning Journey Starts Here.
    </h1>
    <p class="hero-subtitle">
        Organize your lectures, track tasks, and log study sessions seamlessly.
        Create your first subject folder to unlock your workspace.
    </p>
    <button class="create-btn" onclick="showModal('addSubjectModal')">
        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 5V19M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>
        <span>Create Your First Subject</span>
    </button>
</div>
{% elif new_user == 'false' %}
<section class="to-do-tasks">
    <h2><strong style="color: #efeded;">Today's Agenda</strong></h2>
    <div class="card">
        <div class="agenda-card-body" id="agenda-section">
            <div id="today-tasks">
                <h3>Today</h3>
                <hr class="agenda-separator">
                <div class="accordion" id="accordionToday">
                    <div class="accordion-item today-pending-tasks">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTodayPending" aria-expanded="true"
                                aria-controls="collapseTodayPending">
                                In Progress
                            </button>
                        </h2>
                        <div id="collapseTodayPending" class="accordion-collapse collapse show">
                            <div class="accordion-body today-pending-tasks-body">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item today-completed-tasks">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTodayCompleted" aria-expanded="true"
                                aria-controls="collapseTodayCompleted">
                                Completed
                            </button>
                        </h2>
                        <div id="collapseTodayCompleted" class="accordion-collapse collapse">
                            <div class="accordion-body today-completed-tasks-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tomorrow-tasks">
                <h3>Tomorrow</h3>
                <hr class="agenda-separator">
                <div class="accordion" id="accordionTomorrow">
                    <div class="accordion-item tomorrow-pending-tasks">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTomorrowPending" aria-expanded="true"
                                aria-controls="collapseTomorrowPending">
                                In Progress
                            </button>
                        </h2>
                        <div id="collapseTomorrowPending" class="accordion-collapse collapse show">
                            <div class="accordion-body tomorrow-pending-tasks-body">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item tomorrow-completed-tasks">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTomorrowCompleted" aria-expanded="true"
                                aria-controls="collapseTomorrowCompleted">
                                Completed
                            </button>
                        </h2>
                        <div id="collapseTomorrowCompleted" class="accordion-collapse collapse">
                            <div class="accordion-body tomorrow-completed-tasks-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="no-tasks-message" class="msg">
                <i class="fas fa-check-circle" style="font-size: 2rem; color: #359b54;"></i>
                <span class="fw-bold">No tasks scheduled!</span>
            </div>
        </div>
    </div>
</section>

<section class="quick-stats">
    <h2><strong style="color: #efeded;">Quick Statistics</strong></h2>
    <div class="quick-stats-cards">
        <div class="card">
            <div class="card-body quick-stat-card">
                <i class="fas fa-book" style="font-size: 2.5rem; color: #aeccbe;"></i>
                <h4 class="card-title fw-bold">Active Subjects</h4>
                <h3 id="total-subjects">-</h3>
                <button class="view-btn" onclick="window.location.href='/subjects'">
                    <span>View Subjects</span>
                    <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="card">
            <div class="card-body quick-stat-card">
                <i class="fas fa-tasks" style="font-size: 2.5rem; color: #29c43b;"></i>
                <h4 class="card-title fw-bold">Pending Tasks</h4>
                <h3 id="pending-tasks">-</h3>
                <button id="view-tasks-btn" class="view-btn" onclick="window.location.href='/tasks'">
                    <span>View Tasks</span>
                    <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <h5 id="no-pending-tasks" style="display: none;">You have no pending tasks.</h5>
                <button class="create-btn" style="display: none;" onclick="addNewTask()">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 5V19M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <span>Create a New Task</span>
                </button>
            </div>
        </div>
        <div class="card">
            <div class="card-body quick-stat-card">
                <i class="fas fa-hourglass-end" style="font-size: 2.5rem; color: #ffc107"></i>
                <h4 class="card-title fw-bold">Total Study Time</h4>
                <h3 id="study-time">-</h3>
                <button id="view-sessions-btn" class="view-btn" onclick="window.location.href='/sessions_history'">
                    <span>View Session History</span>
                    <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <h5 id="no-sessions" style="display: none;">You didn't Start any Study Sessions yet.</h5>
                <button id="stNewSession" class="create-btn" style="display: none;" onclick="showModal('sessionModal')">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 5V19M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <span>Start a New Session</span>
                </button>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}

{% block footer %}
<hr class="footer-separator">
<div class="footer-content">
    <div class="rights">
        <span class="fw-bold">StudyHUB</span>
        <a href="https://cs50.harvard.edu/x/project/" target="_blank" class="footer-link">
            <span>&copy; CS50 Final Project 2026</span>
        </a>
    </div>
    <div class="contact-links">
        <a href="mailto:mohammed256jamal@gmail.com" target="_blank" class="contact-link">
            <i class="fa fa-envelope" style="font-size:25px"></i>
        </a>
        <a href="https://github.com/mj256x" target="_blank" class="contact-link">
            <i style="font-size:25px" class="fa">&#xf09b;</i>
        </a>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}