{% extends "base.html" %}

{% block title %}Session History{% endblock %}

{% block main %}
<div class="container">
    <table class="table custom-table">
        <thead>
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Session Name</th>
                <th scope="col">Duration (minutes)</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td>
                    <a class="btn btn-outline-primary my-custom-btn"
                        href="{{ url_for('subject_files', subject_id=session[0]) }}">{{ session[1] }}
                    </a>
                </td>
                <td>{{ session[2] }}</td>
                <td>{{ session[3] }}</td>
                <td>{{ session[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}