{% extends "base.html" %}

{% block title %}{{ subject[0] }}{% endblock %}

{% block main %}
<button class="btn btn-primary shadow-lg add-subject-btn"
    style="position: fixed; bottom: 30px; left: 30px; width: 56px; height: 56px; font-size: 20px;"
    data-bs-toggle="modal" data-bs-target="#addFolderModal" onclick="document.getElementById('fileInput').click()">
    <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 3H3M12 21V7M12 7L5 14M12 7L19 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
    </svg>
</button>
<form id="uploadForm" action="{{ url_for('upload_file', subject_id=subject_id) }}" method="POST"
    enctype="multipart/form-data">
    <input type="file" id="fileInput" name="file" style="display: none;"
        onchange="document.getElementById('uploadForm').submit()">
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show text-start mb-4" role="alert"
    style="font-size: 14px; border-radius: 10px;" id="flash">
    <i
        class="bi {% if category == 'danger' %}bi-exclamation-triangle-fill{% else %}bi-check-circle-fill{% endif %} me-2"></i>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
    <div class="row">
        {% for file in files %}
        <div class="col-12 col-md-3 mb-4">
            <div class="card h-100 custom-card">
                <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                    <a href="{{ file[1] }}" target="_blank" class="text-decoration-none text-dark">
                        <h6 class="card-title mb-0">{{ file[0] }}</h6>
                    </a>
                    <div
                        class="dropdown ms-auto list-dots d-flex align-items-center justify-content-center rounded-circle">
                        <button class="bg-transparent border-0 dropdown-toggle sessions-link" type="button"
                            id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"
                            style="width: 26px; height: 26px; padding: 0;">
                            <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button id="done-btn" class="dropdown-item" onclick="markAsDone(this)">
                                    <span class="icon"><svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M7.5 12L10.5 15L16.5 9M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </span>
                                    Mark as Done
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" onclick="downloadFile(this)"><svg width="24px"
                                        height="24px" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M21 21H3M18 11L12 17M12 17L6 11M12 17V3" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Download
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" onclick="moveToAnotherFolder(this)">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M21 21V3M3 12H17M17 12L10 5M17 12L10 19" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Move to another folder
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" onclick="copyToAnotherFolder(this)">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.5 3H14.6C16.8402 3 17.9603 3 18.816 3.43597C19.5686 3.81947 20.1805 4.43139 20.564 5.18404C21 6.03969 21 7.15979 21 9.4V16.5M6.2 21H14.3C15.4201 21 15.9802 21 16.408 20.782C16.7843 20.5903 17.0903 20.2843 17.282 19.908C17.5 19.4802 17.5 18.9201 17.5 17.8V9.7C17.5 8.57989 17.5 8.01984 17.282 7.59202C17.0903 7.21569 16.7843 6.90973 16.408 6.71799C15.9802 6.5 15.4201 6.5 14.3 6.5H6.2C5.0799 6.5 4.51984 6.5 4.09202 6.71799C3.71569 6.90973 3.40973 7.21569 3.21799 7.59202C3 8.01984 3 8.57989 3 9.7V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.0799 21 6.2 21Z"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                    Copy to another folder
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" onclick="deleteFile(this)">
                                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 3H15M3 6H21M19 6L18.2987 16.5193C18.1935 18.0975 18.1409 18.8867 17.8 19.485C17.4999 20.0118 17.0472 20.4353 16.5017 20.6997C15.882 21 15.0911 21 13.5093 21H10.4907C8.90891 21 8.11803 21 7.49834 20.6997C6.95276 20.4353 6.50009 20.0118 6.19998 19.485C5.85911 18.8867 5.8065 18.0975 5.70129 16.5193L5 6"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}