{% extends "base.html" %}

{% block title %}Subjects{% endblock %}

{% block main %}
<button class="btn btn-primary shadow-lg add-subject-btn"
    style="position: fixed; bottom: 30px; left: 30px; width: 56px; height: 56px; font-size: 35px;"
    data-bs-toggle="modal" data-bs-target="#addFolderModal">
    <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M13 7L11.8845 4.76892C11.5634 4.1268 11.4029 3.80573 11.1634 3.57116C10.9516 3.36373 10.6963 3.20597 10.4161 3.10931C10.0992 3 9.74021 3 9.02229 3H5.2C4.0799 3 3.51984 3 3.09202 3.21799C2.71569 3.40973 2.40973 3.71569 2.21799 4.09202C2 4.51984 2 5.0799 2 6.2V7M2 7H17.2C18.8802 7 19.7202 7 20.362 7.32698C20.9265 7.6146 21.3854 8.07354 21.673 8.63803C22 9.27976 22 10.1198 22 11.8V16.2C22 17.8802 22 18.7202 21.673 19.362C21.3854 19.9265 20.9265 20.3854 20.362 20.673C19.7202 21 18.8802 21 17.2 21H6.8C5.11984 21 4.27976 21 3.63803 20.673C3.07354 20.3854 2.6146 19.9265 2.32698 19.362C2 18.7202 2 17.8802 2 16.2V7ZM12 17V11M9 14H15"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</button>

<div class="modal fade" id="addFolderModal" tabindex="-1">
    <div class="modal-dialog" style="margin-top: 15%;">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title">Add new Subject</h5>
                <button type="button"
                    class="ms-auto bg-transparent custom-btn-close border-0 p-2 rounded-circle d-flex align-items-center justify-content-center"
                    data-bs-dismiss="modal">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            <form action="/subjects" method="POST">
                <div class="modal-body">
                    <input type="text" name="subject_name" class="form-control search-input"
                        style="background-color: #ac9eea; border-color: #675e8d;" placeholder="Subject Name"
                        autocomplete="off" required>

                    <h6>You can change the name of the subject later.</h6>
                </div>
                <div class="modal-footer border-top-0" style="justify-content: center; align-items: center;">
                    <button type="submit" class="btn btn-outline-primary my-custom-btn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show text-start mb-4" role="alert"
    style="font-size: 14px; border-radius: 10px;" id="flash">
    <i
        class="bi {% if category == 'danger' %}bi-exclamation-triangle-fill{% else %}bi-check-circle-fill{% endif %} me-2"></i>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
    <div class="row">
        {% for subject in subjects %}
        <div class="col-12 col-md-3 mb-4">
            <div class="card h-100 custom-card">
                <a href="{{ url_for('subject_files', subject_id=subject[0]) }}" class="text-decoration-none">
                    <div class="card-header bg-transparent"
                        style="color: black; text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; font-size: 18px">
                        {{ subject[1] }}
                    </div>
                </a>
                <div class="card-footer bg-transparent d-flex justify-content-between align-items-center gap-3">

                    <div class="progress flex-grow-1"
                        style="height: 16px; background-color: #ac9eea; border-radius: 8px;">
                        <div class="progress-bar" role="progressbar" style="width: {{ subject[2] or 0 }}%;"
                            aria-valuenow="{{ subject[2] }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="d-flex align-items-center gap-1">
                        <form action="{{ url_for('delete_subject', subject_id=subject[0]) }}" method="POST">
                            <button class="btn btn-outline-primary d-flex align-items-center justify-content-center"
                                style="border: none; padding: 3px 8px; border-radius: 3px;">
                                <img src="{{ url_for('static', filename='images/delete.png') }}" alt="Delete"
                                    style="width: 20px; height: 20px;">
                            </button>
                        </form>
                        <div class="dropdown ms-auto d-flex align-items-center justify-content-center rounded-circle">
                            <button type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                                aria-expanded="false" class="btn btn-outline-primary dropdown-link"
                                style="border: none; padding: 3px 8px; border-radius: 3px;">
                                <img src="{{ url_for('static', filename='images/edit.png') }}" alt="Edit"
                                    style="width: 20px; height: 20px;">
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <button class="dropdown-item"
                                        onclick="renameSubject('{{ subject[0] }}', '{{ subject[1] }}')">
                                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M12 20H21M3.00003 20H4.67457C5.16376 20 5.40835 20 5.63852 19.9447C5.84259 19.8957 6.03768 19.8149 6.21663 19.7053C6.41846 19.5816 6.59141 19.4086 6.93732 19.0627L19.5001 6.49998C20.3285 5.67156 20.3285 4.32841 19.5001 3.49998C18.6716 2.67156 17.3285 2.67156 16.5001 3.49998L3.93729 16.0627C3.59139 16.4086 3.41843 16.5816 3.29475 16.7834C3.18509 16.9624 3.10428 17.1574 3.05529 17.3615C3.00003 17.5917 3.00003 17.8363 3.00003 18.3255V20Z"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                        Rename Subject
                                    </button>
                                </li>
                                <li>
                                    <form action="{{ url_for('reset_progress', subject_id=subject[0]) }}" method="POST">
                                        <button class="dropdown-item">
                                            <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M8.54661 19.7675C10.9457 20.8319 13.8032 20.7741 16.2502 19.3613C20.3157 17.0141 21.7086 11.8156 19.3614 7.75008L19.1114 7.31706M4.63851 16.2502C2.2913 12.1847 3.68424 6.98619 7.74972 4.63898C10.1967 3.22621 13.0542 3.16841 15.4533 4.23277M2.49341 16.3338L5.22546 17.0659L5.95751 14.3338M18.0426 9.6659L18.7747 6.93385L21.5067 7.6659"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                            Reset Progress
                                        </button>
                                    </form>
                                </li>
                                <li>
                                    <button class="dropdown-item">
                                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                        Add to Favorites
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="modal fade" id="renameSubjectModal" tabindex="-1">
    <div class="modal-dialog" style="margin-top: 15%;">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title">Rename Subject</h5>
                <button type="button"
                    class="ms-auto bg-transparent custom-btn-close border-0 p-2 rounded-circle d-flex align-items-center justify-content-center"
                    data-bs-dismiss="modal">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            <form id="renameSubjectForm" action="/rename_subject" method="POST">
                <div class="modal-body">
                    <input type="text" name="new_subject_name" class="form-control search-input"
                        style="background-color: #ac9eea; border-color: #675e8d;" placeholder="Add New Subject Name"
                        autocomplete="off" required>

                    <h6>You can change the name of the subject later.</h6>
                </div>
                <div class="modal-footer border-top-0" style="justify-content: center; align-items: center;">
                    <button type="submit" class="btn btn-outline-primary my-custom-btn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}