{% extends "base.html" %}

{% block title %}{{ subject[0] }}{% endblock %}

{% block main %}
<button class="btn btn-primary shadow-lg add-subject-btn"
    style="position: fixed; bottom: 30px; left: 30px; width: 56px; height: 56px; font-size: 20px;"
    data-bs-toggle="modal" data-bs-target="#addFolderModal" onclick="document.getElementById('fileInput').click()">
    <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 3H3M12 21V7M12 7L5 14M12 7L19 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
    </svg>
</button>
<form id="uploadForm" action="{{ url_for('upload_file', subject_id=subject_id) }}" method="POST"
    enctype="multipart/form-data">
    <input type="file" id="fileInput" name="file" style="display: none;"
        onchange="document.getElementById('uploadForm').submit()">
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show text-start mb-4" role="alert"
    style="font-size: 14px; border-radius: 10px;" id="flash">
    <i
        class="bi {% if category == 'danger' %}bi-exclamation-triangle-fill{% else %}bi-check-circle-fill{% endif %} me-2"></i>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
    <div class="row">
        {% for file in files %}
        <div class="col-12 col-md-3 mb-4">
            <div class="card h-100 custom-card">
                <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                    <a href="{{ file[1] }}" target="_blank" class="text-decoration-none text-dark">
                        <h6 class="card-title mb-0">{{ file[0] }}</h6>
                    </a>
                    <button id="done-btn"
                        class="ms-auto bg-transparent done-btn border-0 d-flex align-items-center justify-content-center rounded-circle"
                        style="width: 26px; height: 26px;" onclick="markAsDone(this)">
                        <span class="icon"><svg width="150%" height="150%" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7.5 12L10.5 15L16.5 9M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}